 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<body>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Your Questions</th>
    </tr>
  </thead>
 <tbody>
  <% @question.each do |question| %>
    <tr>
      <th scope="row">*</th>
      <td><%= question.question %></td>
      <td><%= link_to 'Show', question_path(question) %></td>     
      <td><%= link_to 'Answer', question_path(question) %></td>           
    </tr>
  <% end %>
  </tbody>
</table>

